* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background: no-repeat top;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_PfPn5BcnspToUb2hS_h0171KpzxBunANGA&usqp=CAU);
  background-size: cover;
  transition: 0.5s;
}
.App {
  text-align: center;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board {
  min-width: 300px;
  min-height: 400px;
  border: 5px solid lightgray;
  padding: 20px 10px;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}
.board__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
.item {
  width: 100%;
  border: 2px solid lightgrey;
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
  cursor: grab;
  background-color: transparent;
  color: #cccccc;
}
.input {
  width: 100%;
  border: 2px solid lightslategray;
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-del {
  background-color: rgb(255, 0, 0);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
